<div class="rooms-showcase-body">
  <h3>Room</h3>
  @if (room() !== null) {
  <app-room-full [room]="room()!"></app-room-full>
  } @else {
  <h2>Room not found</h2> }

  <h3>Screenings Associated</h3>
  <div class="rooms-showcase">
    @if (screenings().length) {
    @for (screening of screenings() ; track screening.screeningId) {
    <app-screening-detail [screening]="screening"></app-screening-detail>
    }
    } @else {
    <span>No screenings associated with this movie</span>
    }
  </div>
</div>
